#mainDash{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: center;

}

#Welcome{
    text-align: center;
    font-size: 100px;
    font-weight: 300;
    color: white;
    margin-bottom: 2%;
}

#scoreboardStud{
    width: 100%;
    height: 68vh;
    border: 1px solid rgb(66, 73, 177);
    background-color: rgba(0, 0, 0, 0.514);
    box-shadow: 0px 0px 40px black;
    border-radius: 20px;
    padding: 2%;
    overflow-y: scroll;
}

#scoreboard{
    width: 100%;
    height: 50vh;
    border: 1px solid rgb(66, 73, 177);
    background-color: rgba(0, 0, 0, 0.514);
    box-shadow: 0px 0px 40px black;
    border-radius: 20px;
    padding: 2%;
    overflow-y: scroll;
}

#scoreboard table{
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
}

#scoreboard table td{
    text-align: center;
    border: none;
}

#scoreboard table th{
    border: none;
}

#ScoreSec{
    width: 30%;
}

#OptionScoreSec{
    border: 1px solid rgb(66, 73, 177);
    border-radius: 20px;
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 5vh;
    font-size: large;
    margin-bottom: 5%;
    width: 100%;
}

#assignmentTable{
    width: 100%;
    border: none;
    border-collapse: collapse;
    text-wrap: wrap;
}


#assignmentTable td{
    border: none;
    text-align: center;
}

#assignmentTable th{
    border: none;
}

#Sub{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}

#Sub div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid rgb(66, 73, 177);
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 5%;
    box-shadow: 0px 0px 40px black;
    transition: 0.1s ease-in all;
}

#Sub div:hover{
    box-shadow: 0px 0px 5px rgb(255, 187, 0);
    transition: 0.1s ease-in all;
}

#Sub img{
    width: 10vw;
    height: 10vw;
}

#Sub p{
    text-align: center;
    margin-top: 5%;
    color: white;
}

#quizStud{
    width: 50%;
    height: 30vh;
}

#profile{
    width: 20%;
    height: 30vh;
}

#profileStud{
    width: 30%;
    height: 30vh;  
}

#add{
    width: 40%;
    height: 30vh;
}

#view{
    width: 20%;
    height: 30vh;
}

#AddAssignment{
    width: 20%;
    height: 30vh;
}

#CreateQuiz{
    width: 20%;
    height: 30vh;
}

#StudDashMess{
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    margin-top: 25%;
}

#quiz:hover{
    width: 41%;
    height: 31vh;
}

#profile:hover{
    width: 21%;
    height: 31vh;
}

#profileStud:hover{
    width: 41%;
    height: 31vh;
}

#add:hover{
    width: 41%;
    height: 31vh;
}

#view:hover{
    width: 21%;
    height: 31vh;
}

#CreateQuiz:hover{
    width: 21%;
    height: 31vh;
}

#AddAssignment:hover{
    width: 21%;
    height: 31vh;
}